#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 1px solid black;
    margin-top: 20px;
  }
  
  .grid-square {
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  